/*Section test*/
section {
    display: grid;
    grid-gap: 10px;
    font-family: sans-serif;
    margin: 20px 0;
    gap: 10px;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    text-align: center;
}

.auto-fill div {
    background-color: #FAC05E;
}

.auto-fit div {
    background-color: #FAC05E;
    color: white;
}

.auto-fill {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    /*grid-template-rows: repeat(auto-fill, minmax(200px, 1fr));*/

}

.auto-fit {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.taille {
    width: 40px;
    height: 40px;
}

.main-row {

    background-color: darkgoldenrod;
    grid-column: 1 / -1;

    /*grid-column: span first / auto;*/
    /*grid-column: span foo / 4;*/
}

h1 {
    font-family: sans-serif;
    text-decoration-color: white;
    color: white;
}