/*Section test*/
section {
    display: grid;
    grid-gap: 10px;
    font-family: sans-serif;
    margin: 20px 0;
    gap: 10px;
}

.nom1 {

    font-size: xx-large;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    text-align: center;
}

.auto-fill div {
    background-color: #FAC05E;
}

.auto-fit div {
    background-color: #FAC05E;
    color: white;
}

.auto-fill {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));


}

.auto-fit {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.taille {
    width: 100px;
    height: 100px;
}

.souscategorie {
    /*grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-area: 3/2/1/1;*/

    grid-column: 1;
    grid-row: 2 / auto;
}

#color {
    background-color: beige;
}

.main-row {
    grid-column: 2 / -1;
    grid-row: 1 / 3;

    /*grid-column: span first / auto;*/
    /*grid-column: span foo / 4;*/
}

h1 {
    font-family: sans-serif;
    text-decoration-color: white;
    color: white;
}
