{% load static %}
<!DOCTYPE html>
<html lang="en">
{% block main %}
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>{% block title %}Cloud Map Service{% endblock %}</title>

        <!-- Custom fonts for this template-->
        <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'css/mygrid.css' %}" rel="stylesheet" type="text/css">
        <!--<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">-->
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
        <!-- Custom styles for this template-->
        <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet" type="text/css">
        <style>.node {
            background-color: blue;
        }</style>

    </head>
{% endblock %}
{% block menu %}
    <body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
{% endblock %}

{% block header %}
    <!-- Main Content -->
    <div id="content">

    <!-- Topbar -->
    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
        {% block nuageo_logo %} <!-- Nav Item - User Information -->
        <a href="/">
            
                <img class="img-profile " src="{% static '/img/nuageo_logo.png' %}" style="width: 4em; float: left;">
        
                <!--montrer l'anée actuelle-->
                <h3>Cloud Service Map : {% now 'Y' %}</h3>
                
        </a>
        {% endblock %}

        <!-- Topbar Navbar -->
        <ul class="navbar-nav ml-auto" style="margin-top: -25px;">

            <!-- Nav Item - Search Dropdown (Visible Only XS) -->
            <li class="nav-item dropdown no-arrow d-sm-none">

                <!-- Dropdown - Messages -->
                <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                     aria-labelledby="searchDropdown">
                    <form class="form-inline mr-auto w-100 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small"
                                   placeholder="Search for..." aria-label="Search"
                                   aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </li>

            <!-- Nav Item - Alerts -->


            <!-- Nav Item - Messages -->
            <button class="d-none d-sm-inline-block btn btn-sm btn-info shadow-sm" id="print_btn" 
                    style="height: 36px;margin-top: 18px; margin-right: 20px" type="button"><em class="fa fa-print"></em>
            </button>
            
            <button class="d-none d-sm-inline-block btn btn-sm btn-info shadow-sm" id="alternate_width_list_table_btn" 
                    style="height: 36px;margin-top: 18px; margin-right: 20px" type="button"><em class="fa fa-compress-arrows-alt"></em>
            </button>
            <button class="d-none d-sm-inline-block btn btn-sm btn-info shadow-sm" id="alternate_columns_list_table_btn" 
                    style="height: 36px;margin-top: 18px;" type="button"><em class="fa fa-list"></em>
            </button>
            <div class="topbar-divider d-none d-sm-block"></div>
            <a href="/admin/" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"
                style="height: 36px;margin-top: 18px;" type="button"><em class="fa fa-user"></em>

            </a>

            
        </ul>

    </nav>
    <!-- End of Topbar -->

    <!-- Begin Page Content -->
    <div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">

    </div>
{% endblock %}

{% block apres_header %}
    <!-- Content Row -->

{% endblock %}
{% block body %}
    <div class="container-fluid" id="pagina" style="overflow-x: auto; padding:5px">
        {% include 'includes/grid_view.html' %}
    </div>

{% endblock %}

{% block footer %}
    <!-- Footer -->
    <footer class="sticky-footer bg-white">
        <div class="container my-auto">
            <div class="copyright text-center my-auto">
                © NUAGEO {% now 'Y' %}

            </div>
        </div>
    </footer>
    <!-- End of Footer -->

{% endblock %}
<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

{% block js %}
    <!-- Bootstrap core JavaScript-->
    <script src=" {% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src=" {% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src=" {% static 'js/jspdf.min.js' %}"></script>
    <script src=" {% static 'js/html2canvas.min.js' %}"></script>
    <!-- Core plugin JavaScript-->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>
    <script src="{% static 'js/printThis.js' %}"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            var flag_toggle = false;
            $('#alternate_width_list_table_btn').click(function () {
                if(flag_toggle) {
                    $('em',$(this)).removeClass('fa-expand-arrows-alt').addClass('fa-compress-arrows-alt')
                    $("#content_list_table").css('width','85cm')
                } else {
                    $('em',$(this)).removeClass('fa-compress-arrows-alt').addClass('fa-expand-arrows-alt')
                    $("#content_list_table").css('width','100%')
                }
                flag_toggle = !flag_toggle;
            });
            var flag_toggle_1 = false;
            $('#alternate_columns_list_table_btn').click(function () {
                if(flag_toggle_1) {
                    $('em',$(this)).removeClass('fa-columns').addClass('fa-list')
                    $("div.tree").removeClass('full-width')
                } else {
                    $('em',$(this)).removeClass('fa-list').addClass('fa-columns')
                    $("div.tree").addClass('full-width')
                }
                flag_toggle_1 = !flag_toggle_1;
            });
            $('#print_btn').click(function () {
                html2canvas(document.getElementById('content_list_table')).then(canvas => {
                    // document.body.appendChild(canvas)
                    var imgData = canvas.toDataURL(
                            'image/png'); 
                    console.log(canvas.height);    
                    console.log(canvas.width);    
                    var doc = new jsPDF({
                        orientation: 'p',
                        unit: 'mm',
                        format: [canvas.width-780,canvas.height-800],
                        putOnlyUsedFonts:true,
                        floatPrecision: 16 // or "smart", default is 16
                    });
                    doc.addImage(imgData, 'PNG', 5, 5);
                    doc.save('nuageo-report.pdf');
                });
                // $('#pagina').printThis({
                //     header: "<h1>HOLA JE SUIS LE CLOUD MAP</h1>",
                //     debug: false,               // show the iframe for debugging
                //     importCSS: true,            // import parent page css
                //     importStyle: true,         // import style tags
                //     printContainer: true,       // print outer container/$.selector
                // });
            });
        });</script>
    <!-- Custom scripts for all pages-->
    <script src="{% static 'js/sb-admin-2.min.js' %}"></script>

    
    

{% endblock %}
</body>

</html>
