{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Cloud Map Service</title>
    <!-- Custom styles for this template-->
    <link href="{% static 'css/grid.css' %}" rel="stylesheet" type="text/css">
    <meta name="author" content="LayoutIt!">

</head>


<div class="grid-container">
    {% for cat in categorie %}
        <div class="Categorie" style="text-align: center">
            <strong>{{ cat.nom_cat }}</strong>
        </div>
        {% for item in souscategorie %}
            {% if item.categorie_id == cat.id %}
                <div class="Sous-Cat">
                    <i>{{ item.nom_s_cat }}</i>
                </div>
                {% for four in fournisseur %}
                    <div class="Serv1">
                        {% for i in services %}
                            {% if i.sous_categorie_id == item.id and i.fournisseurs ==  four.nom_f and item.categorie_id == cat.id %}
                                <strong>{{ i.nom }}</strong></br>
                                <img src="/{{ i.image.url }}" alt="/{{ i.nom }}" style="width: 30px"></br>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endfor %}
            {% endif %}
        {% endfor %}
        {% for four in fournisseur %}
            <div class="CSP" style="background-color: #1e7e34">
                <img src="/{{ four.image }}" style="width: 30px">
                <i>{{ four.nom_f }}</i>
            </div>
        {% endfor %}

    {% endfor %}
<hr>
</div>

</html>