{% load static %}
{% block head %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        {% block title %} <title>Cloud Map Service </title>{% endblock %}
        <!-- Custom styles for this template-->
        {% block external_files %}
            <link href="{% static 'css/new.css' %}" rel="stylesheet" type="text/css">
        {% endblock %}
    </head>
{% endblock %}
{% block header %}
    <header>
        <div class="nom"><h1>Cloud Map Service:{% now 'Y' %}</h1></div>
    </header>
{% endblock %}
{% block body %}
    <body>
    <section class="auto-fill">
        {% for i in service %}
            <div class="auto-fill">
                <img class="taille" src="/{{ i.image.url }}" alt="/{{ i.nom }}" size="">
                 <i><a href="/{{ i.url }}">{{ i.nom }}</a></i>
            </div>
        {% endfor %}
    </section>
    <section class="auto-fit">
        <div> Columna 1</div>
        <div> Columna 2</div>
        <div> Columna 3</div>
        <div> Columna 4</div>
    </section>

    </body>
{% endblock %}
</html>