{% load static %}
{% block head %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        {% block title %} <title>Cloud Map Service </title>{% endblock %}
        <!-- Custom styles for this template-->
        {% block external_files %}
            <link href="{% static 'css/new.css' %}" rel="stylesheet" type="text/css">
            <link href="{% static 'css/mygrid.css' %}" rel="stylesheet" type="text/css">
        {% endblock %}
    </head>
{% endblock %}
{% block header %}
    <header>
        <div class="nom"><h1>Cloud Map Service:{% now 'Y' %}</h1></div>
    </header>
{% endblock %}
{% block body %}
    <body>
    <section class="auto-fill">
        <div class="main-row">
            {% for cat in categorie %}
                {% if cat.nom_cat == 'Compute' %}
                    <h1>{{ cat.nom_cat }}</h1>
                {% endif %}
            {% endfor %}
        </div>
        {% for i in servicecompute %}
            <div class="auto-fill">
                <img class="taille" src="/{{ i.image.url }}" alt="/{{ i.nom }}" size="">
                </br>
                <i><a href="/{{ i.url }}">{{ i.nom }}</a></i>
            </div>
        {% endfor %}
    </section>
    <div class="main-row">
        {% for cat in categorie %}
            {% if cat.nom_cat == "Storage" %}
                <h1>{{ cat.nom_cat }}</h1>
            {% endif %}
        {% endfor %}
    </div>
    <section class="auto-fill">
        {% for i in servicestorage %}
            <div class="auto-fill">
                <img class="taille" src="/{{ i.image.url }}" alt="/{{ i.nom }}" size="">
                </br>
                <i><a href="/{{ i.url }}">{{ i.nom }}</a></i>
            </div>
        {% endfor %}
        <div class="auto-fill" id="color">
            {% for i in fournisseur %}
                <img class="taille" src="/{{ i.image.url }}" alt="/{{ i.nom_f }}" size="">
                </br>
            {% endfor %}
        </div>
    </section>
    </body>
{% endblock %}
</html>