<style>
    .full-width {
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }
    .tree {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .node.col-2 {
        flex: 0 0 20% !important;
        max-width: 20% !important;
    }
</style>
<div id="content_list_table" {% if trees|length > 2 %}style="width:85cm;"{%else%}style="width:100%;"{% endif%}>
<div class="row">
    {% for tree in trees %}
        <div class="tree col-{{ tree.rowWidth }}">
            <div class="row"
                 style="color: white; font-size: 16px; font-weight: bold; background-color: {{ tree.color }}; margin: -5px">
                {% for node in tree.struct %}
                    <div class="node d-flex align-content-md-center align-middle justify-content-around col-{{ node.rowWidth }}"
                         style="min-width: 40px; padding: 0; min-height: 120px; background-color: {{ node.color }}; border:5px solid {{ tree.color }}; {% if node.is_root %}font-size: 22px;{% endif %} {% if node.color == '#ffffff' %}color: black;{% endif %}">
                        {% for child in node.children %}
                            <div class="node p-1 align-middle col-{{ child.rowWidth }}"
                                 style="text-align: center; min-height: 30px; font-size: 8.5px; background-color: transparent;">
                                 {% if child.url %}<a style="color: {% if child.color == '#ffffff' %}black{%else%}white{% endif %};" href="{{ child.url }}" target="top">{% endif %}
                                {% if child.element.title != '_' and tree.linked %}<img src="/{{ child.element.resource.image }}" width="95%" style="max-width: 80px;">{% endif %}<br>
                                {% if child.element.title != '_' and not tree.linked %}<img src="/{{ child.element.image }}" width="95%" style="max-width: 80px;">{% endif %}<br>
                                <span class="align-self-center align-middle">
                                
                                    {% if not child.element.name == '_'%}
                                        {% if tree.linked %}
                                            {{ child.element.name }}
                                        {% else %}
                                            {{ child.title }}
                                        {% endif %}
                                    {% endif %}
                                </span>
                                {% if child.url %}</a>{% endif %}
                            </div>
                        {% endfor %}
                        {% if not node.children.length %}
                            <span class="align-self-center align-middle" style="width: 100%; text-align: center;">
                            {% if node.url %}<a style="color: {% if node.color == '#ffffff' %}black{%else%}white{% endif %};" href="{{ node.url }}" target="top">{% endif %}
                                {% if tree.linked %}
                                    {% if node.element.name %}{{ node.element.name }}{% else %}
                                        {% if node.title %}{{ node.title }}{% endif %}
                                    {% endif %}
                                {% else %}
                                    {% if node.title %}{{ node.title }}{% endif %}
                                {% endif %}
                            {% if child.url %}</a>{% endif %}
                            </span>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>

    {% endfor %}
</div>
</div>